*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}

li{
    list-style: none;
    display: inline;
}

/* --------------------dekstop----------- */

/* ------- header----------- */
header{
    display: flex;
    background-color: #212020; 
    height: 8rem;
    justify-content:center;
    position: fixed;
    width: 100%;
    z-index: 9;
}


.container-logo-img{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 10%;
}

.logo-img{
    border-radius: 50%;
    height: 80%;
}




.btn-menu{
    display: none;
}

#btn-menu{
    display: none;
}



header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.5);
}

.nav-menu {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.nav-menu ul img{
    height: 100%;
    border-radius: 50%;
}

.nav-menu li a{
    padding:68px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.nav-menu li:hover{
    transform: scale(1.1);
}

.icons-header {
    display: flex;

}

.icon-ds{
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}



.icon-ds:hover{
    transform: scale(1.1);
}


.icon-ig{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.icon-ig:hover{
    transform: scale(1.1);
}

.icon-twitter{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.icon-twitter:hover{
    transform: scale(1.1);
}

.icon-youtube{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.icon-youtube:hover{
    transform: scale(1.1);
}
/* ----------------main----------------- */

.title-bienv{
    display: flex;
    justify-content: center;
    color: white;
}

.title-bienv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: system-ui;
  /*   position: relative;
    bottom:139rem; */
}

.title-bienv a{
    color: white;
    text-decoration: none;
}

.title-bienv a:hover{
    transform: scale(1.1);
}

.text-discord{
    margin-top: 2rem;
    margin-bottom: 2rem
}

#icon-ds-text{
    font-size:80px;
}

.main-text{
    color: white;
    width: 60%;
    line-height: 31px;
}

.container-main-bottom {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;
}

.container-comunidad{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-bottom: 5rem;
}

.comunidad-title {
    color: white;
    margin-top: 7rem;
    font-size: 2rem;
  
}

.comunidad-title p{
    display: flex;
    justify-content:center
}

.strong-comunidad{
    
    padding: 0 0 0 10px;
    
}

/* .modal-container {
    display: inline-block;
    position: relative;
}

.modal-container.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container.active::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.56);
    z-index: 4;
}

.modal-container img{
    z-index: 3;
}

.modal-1 {
    display: flex;
}

.modal-1 img {
    width: 27rem;
    padding: 1rem;
}

.modal-1 img:hover {
    transform: scale(1.01);
} 

.modal-2 {
    display: flex;
}

.modal-2 img {
    width: 27rem;
    padding: 1rem;
}

.modal-2 img:hover {
    transform: scale(1.01);
} 

.modal-3 {
    display: flex;
}

.modal-3 img {
    width: 27rem;
    padding: 1rem;
}

.modal-3 img:hover {
    transform: scale(1.01);
} 
 */
 .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}


.modal-1{
    display: inline-block;
    position: relative;
}

.modal-1.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-1.active::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.56);
    z-index: 0;
}

.modal-1 img {
    width: 27rem;
    padding: 1rem;
    transition: all .4s ease;
    height: 20rem;
}

 .modal-1 img:hover {
    transform: scale(1.01)
}  

.modal-2.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-2.active::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.56);
    z-index: 0;
}

.modal-2 img {
    width: 27rem;
    padding: 1rem;
    transition: all .4s ease;
    height: 20rem;
 }

 .modal-2 img:hover {
    transform: scale(1.01);
} 

.modal-3.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-3.active::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.56);
    z-index: 0;
}
.modal-3 img {
    width: 27rem;
    padding: 1rem;
    transition: all .4s ease;
    height: 20rem;
}
 .modal-3 img:hover {
    transform: scale(1.01);
} 


/* ----------------------footer-----------------------------*/

footer {

    border-top: 3px solid gray;
    
}

.footer-section-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-logo-img{
    width: 40%;
}
.redes {
    color: white;
    display: flex;
    font-size: 21px;
}
.redes-text {
    color: red;
}

.redes i{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size:25px
}

.redes i:hover{
    transform: scale(1.1);
}

.contacto {
    color: white;
    text-decoration: none;
    font-size: 21px;

    margin-right: 10rem;
}


.founder {
    color: white;
    margin-right: 6rem;
    font-size: 21px;
}

/* .pais{
    color: white;
} */

.creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}

.creditos a{
    text-decoration: none;
    color: gray
}

.footer-bottom{
    width: 100%;
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212020;
}

.text-bandas{
    margin-top:3rem;
    color: red;
}